<!DOCTYPE html>
<html>
<head>
  <title>Music Store</title>
  <link type="text/css" rel="stylesheet.css" href="stylesheet.css" />
</head>
<body>


<nav>
  <ul>
    
   </ul>
</nav>      

  <%= yield %>
</body>
</html>