<!DOCTYPE html>
<html>
<head>
  <title>Music Store</title>
  <link type="text/css" rel="stylesheet" href="/style.css" />
</head>
<body>

  <style>

    h1 {
      color: black;
      font-family: "Arial";
      font-size: 300%;
      text-align:center
    }

    p {
      color: black;
      font-family: "Arial";
      font-size: 18px;
      text-align: left
    }
  </style>

  <nav class="centered">
    <ul class="controls">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/albums">All Stock</a>
      </li>
      <li>
        <a href="/albums/new">Add Album</a> 
      </li>
      <li>
        <a href="/artists/new">Add Artist</a>
      </li>
    </ul>
  </nav>      


  <%= yield %>
  
</body>
</html>