<!-- <h1>Add Stock Items</h1>

<form action="/albums" method="post">
  <p>
    <label>
      Enter Album Title:
      <input type="text" title="title">
    </label>
  </p>

  <form action="/artists" method="post">
    <p>
      <label>
        Enter Artist Name:
        <input type="text" name="name"
      </label>
    </p>

    <label>
      Quantity:
      <input type="number" name="quantity">
    </label>

    <input type="submit" name="Add Stock To Inventory"> -->