h1{
  position: center;
}

body{
  background-color: silver;
}

.centered {
  text-align: center;
}

.controls {
  list-style-type: none;
}

.controls li {
  display: inline-block;
  margin-left: 10px;
  background-color: steelblue;
  color: red;
  padding: 15px;
}

.controls a {
  text-decoration: none;
  color:whitesmoke;
}

.controls a:visited {
  color:whitesmoke;
}

.button_del {
  padding: 15px;
  border: none;
  background-color: #F44336;
  color:whitesmoke;
}

.button_upd {
  padding: 15px;
  border: none;
  background-color: steelblue;
  text-decoration: none; 
  color:whitesmoke;
}

