h1{
  position:fixed;
  padding-left: 420px;
}

body{
  background-image: url("http://67.media.tumblr.com/tumblr_ldy851iUju1qz7ymyo1_1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}