h1{
  position: center;
  /*padding-left: 450px;*/
  /*text-align: center;*/
}

body{
  background-image: url("https://media.giphy.com/media/3lbyjGzJPvIcg/giphy.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}