<h1>Albums and Artists</h1>

<a href="/albums/new">Add Album</a>
<a href="/artists/new">Add Artist</a>

<% for album in @albums %>
<p>Title: <%= album.title %></p>
<p>Quantity: <%= album.quantity %></p>
<p>Artist: <%= album.artist_name_from_id %></p>

<hr/>
<% end %>



