<h1>Add Artists</h1>

<form action="/artists" method="post">
  <p>

    <label>
      Enter Artist Name:
      <input type="text" name="name">
    </label>
  


    <input type="submit" value="Add to Artists">
  </p>
  
  <div class="centered">
    <img src="https://media.giphy.com/media/jXqYKr6zlFIru/giphy.gif" style="width:800px;height:600px;"/>
  </div>